<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A5A57BB1C8920330003ED50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A85EE201C85A0E1001D2471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A85EE391C85A0E2001D2471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A85EE441C85A0E2001D2471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
